<a href="https://colab.research.google.com/github/Ojomiloju/Hamoye.io-Data-Science-Internship/blob/master/Hamoye_Data_Science_Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Question 1

In [11]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A_B = A
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [12]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Question 3

In [19]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [20]:
data = pd.read_csv('/content/gdrive/My Drive/fuel_ferc1.csv')

In [21]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [45]:
data.groupby('fuel_type_code_pudl', as_index=False)['fuel_cost_per_unit_burned'].mean()

  fuel_type_code_pudl  fuel_cost_per_unit_burned
0                coal                  67.421830
1                 gas                  13.659397
2             nuclear                4955.157002
3                 oil                 168.877086
4               other                  18.253856
5               waste                  19.518122

Question 4

In [46]:
data['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

In [50]:
print(data["fuel_qty_burned"].kurtosis())
print(data['fuel_qty_burned'].skew())

651.3694501337732
15.851495469109503

Question 6

In [53]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [54]:
data['fuel_unit'].isnull().sum() * 100 / len(data['fuel_unit'])

0.6096941367747181

In [56]:
data.shape

(29523, 11)

Question 7

In [57]:
data['fuel_unit'].describe()

count     29343
unique        9
top         mcf
freq      11354
Name: fuel_unit, dtype: object

We can see that the column is a categorical column. The best way to deal with it is to use the "Mode Imputation". The mode is "mcf"

In [59]:
data["fuel_unit"].fillna('mcf', inplace = True)

In [61]:
data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

Question 8

In [65]:
corr = data.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

fuel_qty_burned and fuel_mmbtu_per_unit have the second and third lowest corellation with fuel_cost_per_unit_burned

Question 9

In [73]:
fuel_cost_per_unit_burned_1998 = data[(data['fuel_type_code_pudl'] == 'coal') & (data['report_year'] == 1998)]['fuel_cost_per_unit_burned'].sum() 
fuel_cost_per_unit_burned_1994 = data[(data['fuel_type_code_pudl'] == 'coal') & (data['report_year'] == 1994)]['fuel_cost_per_unit_burned'].sum()

(fuel_cost_per_unit_burned_1998 - fuel_cost_per_unit_burned_1994) * 100 /fuel_cost_per_unit_burned_1994

-20.56765451826053

Question 10

In [75]:
data.groupby('report_year', as_index=False)['fuel_cost_per_unit_delivered'].mean().max()

report_year                      2018.000000
fuel_cost_per_unit_delivered    11140.197239
dtype: float64